<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    
</head>
<body >
    <div id="app" class="bg-gray-300 w-full flex justify-center items-center h-screen font-sans">
        <div class=" w-1/2 max-w-xl bg-white flex flex-col px-8 py-12 shadow-lg">
            <input type="email"  v-model="user.username" id="email" class="bg-gray-200 py-4 px-4 outline-0 mb-8  placeholder:text-gray-400 placeholder:font-light  placeholder:text-base tracking-wider" placeholder="Email">
            <input type="password" v-model="user.password" id="password"  class="bg-gray-200 py-4 px-4 outline-0 mb-8  placeholder:text-gray-400 placeholder:font-light  placeholder:text-base tracking-wider" placeholder="Password">
            <button type="button" class="w-full bg-slate-500 text-white py-4 tracking-wider" v-on:click="login()">LOGIN</button>
        </div>
    </div>
    
</body>

<script type="module">
    import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.26/vue.esm-browser.min.js';

    const app = createApp({
        data(){
            return {
                apiUrl : 'https://vue3-course-api.hexschool.io/v2' ,
                apiPath : 'nd5726-hexschool',
                user :{
                    username : '',
                    password : '',
                }
                
            }
        },
        methods: {
           login(){
               axios.post(`${this.apiUrl}/admin/signin` , this.user )
                .then((res)=>{
                    const { expired , token } = res.data;
                    console.log(expired,token);
                    document.cookie = `hextoken=${token}; expires= ${ new Date(expired)}; `;
                    location.href="prolist.html";
                })

                .catch((error)=>{
                    window.alert("登入失敗了QQ");
                })
           },

        }
    });

    app.mount('#app');

</script>
</html>